/* 선택자 (selector) */

* {
    
    box-sizing: border-box;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-center {
    margin : 0 auto;
    width : 1080px;
}

div#header-search h1 {
    width : 198px;
    height: 48px;
    display : inline-block;
    background : url(./sp_search.png) -4px -4px no-repeat;
    position : relative;
    top : -6px;
}

div#header-search a h1 span {
    display : none;
}

div#header-search a {
    text-decoration: none;
    vertical-align: middle;
}

#header-search h2 {
    display : none;
}

#header-search fieldset {
    margin-left : 20px;
    width : 521px;
    height : 49px;
    display : inline-block;
    vertical-align: middle;
    padding : 12px 0 12px 10px;
    border : 2px solid #03cf5d;
    position : relative;
}

#header-search fieldset input {
    border : none;
    padding : 0;
    outline : none;
    vertical-align: top;
    width : 405px;
    height: 23px;
}

#header-search fieldset button {
    width : 49px;
    height : 49px;
    border : none;
    padding : 0;
    background : #03cf5d;
    position : absolute;
    right  :-2px;
    top : -2px;
}

#header-search fieldset button .search-image {

    background : url(./sp_search.png);
    background-position : -4px -60px;
    background-repeat : no-repeat;
    width : 21px;
    height : 21px;
    display : inline-block;
}