* {
    box-sizing: border-box;
}

span {
    float: left;
    width : 20px;
    height : 20px;
    background-color: green;
    margin : 3px;
}

.row {
    display : block;
    clear: both;
}

@keyframes clicked {
    from {
        transform : scale(0);
        opacity: 0;
    }

    to {
        transform : scale(1);
        opacity: 1;
    }
}

#clickEffect {
    display : none;
    position : fixed;
    top : 0;
    left : 0;
    width : 80px;
    height : 80px;
    pointer-events: none;
}

#clickEffect::after {
    content : "";
    display : block;
    height : 100%;
    background : rgba(0, 0, 0, .3);
}

#clickEffect.effect {
    display : block;
}

#clickEffect.effect::after {
    animation : clicked .5s cubic-bezier(.29, 0, .15, 1);
}